* {box-sizing: border-box; font-family: sans-serif;}
.padmarg{ padding:3px;}
.back-grey{background-color: darkgrey;}

 section header{font-size: larger;background-color: lightgray;
}
width:50%;border-radius:0 10em 0 0 ; 	}
nav {
	border:2px solid darkgrey;
	height:90vh;
}
nav a {display: block;}
article{ height:90vh;overflow: scroll;}
main{display: flex;height:95vh;overflow: scroll;}

@media(max-width:800px){
	main{display: initial;}
}

